<div class="course-card">
    <div class="course-card__header">
        <h3 class="course-card__title">{{ course.name }}</h3>
        <p class="course-card__dates">
            {{ course.startDate }} – {{ course.endDate }}
        </p>
    </div>

    <div class="course-card__body">
        
        <div class="course-card__row">
            <span class="course-card__label">Количество мест</span>
            <span class="course-card__value">{{ course.totalPlaces }}</span>
        </div> 
        

        <div class="course-card__row">
            <span class="course-card__label">Количество занятых мест</span>
            <span class="course-card__value">{{ takenPlaces() }}</span>
        </div> 
        
        @if (teacher(); as t){
            <div class="course-card__row">
                    <span class="course-card__label">Преподаватель</span>
                    <span class="course-card__value">{{ t.firstName  }} {{ t.lastName }}</span>
            </div>
        }
    </div>
    @if (cookieService.get('role') === 'Admin') {
        <div class="course-card__footer">
        <button class="course-card__btn course-card__btn--primary" (click)="edit.emit()">Редактировать</button>
        <button class="course-card__btn course-card__btn--danger" (click)="delete.emit()">Удалить</button>
        </div>
    }
</div>
