<div class="main-content">
    <header class="app-header">
        <div class="app-header__left">
            <img class="app-header__logo" src="assets/img/logo.svg" alt="logo">
            @if (cookieService.get('role') === 'Admin') {
                <a class="app-header__link" routerLink="/courses">Курсы</a>
                <a class="app-header__link" routerLink="/students">Студенты</a>
                <a class="app-header__link" routerLink="/teachers">Преподаватели</a>
            }
            @else if (cookieService.get('role') === 'Teacher') {
                <a class="app-header__link" routerLink="/courses">Все Курсы</a>
                <a class="app-header__link" routerLink="/mycourses">Мои Курсы</a>
            }
            @else if (cookieService.get('role') === 'Student') {
                <a class="app-header__link" routerLink="/courses">Все Курсы</a>
                <a class="app-header__link" routerLink="/mycourses">Мои Курсы</a>
            }
        </div>

        <div class="app-header__right">
            <div class="user-menu" (click)="toggleUserMenu()" tabindex="0">
            <div class="user-menu__avatar">
                {{ userInitials() }}
            </div>
            <span class="user-menu__role">{{ userRoleRus() }}</span>
            <span
                class="user-menu__arrow"
                [class.user-menu__arrow--open]="userMenuOpen"
            >
                ▾
            </span>
            </div>

            @if (userMenuOpen) {
            <div class="user-menu__dropdown">
                <button (click)="goToProfile()">Профиль</button>
                <button (click)="logout()">Выйти</button>
            </div>
            }
        </div>
    </header>

    <router-outlet></router-outlet>
</div>

<footer class="app-footer">
    <div class="app-footer__left">
        <span>© kotkov-client - 2025</span>
    </div>

    <div class="app-footer__right">
        <a href="mailto:support@example.com" class="app-footer__link">Поддержка</a>
        <span class="app-footer__dot">•</span>
        <a href="#" class="app-footer__link">Политика конфиденциальности</a>
    </div>
</footer>


